html.no-js .nojs-banner {
    text-align: center;
    color: #ffffff;
    background-color: #ff0f0f;
}

html.no-js body {
    display: block;
}

html.no-js main#desktop {
    overflow: auto;
}

html.no-js .nojs-banner p {
    margin: 0;
}

html.no-js #window-frame {
    position: static;
}

html.no-js .window {
    position: static !important;
    display: block !important;
    width: min(960px, 100%);
    margin: 20px auto;
}

html.no-js #boot-screen {
    display: none !important;
}

html.no-js #home-content[hidden] {
    display: block !important;
}

html.no-js #win-start-menu {
    display: none !important;
}

html.no-js #desktop .desktop-icons {
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
}

html.no-js .titlebar .controls,
html.no-js #taskbar .start-menu,
html.no-js #taskbar .handler,
html.no-js #taskbar .help-area,
html.no-js #win-taskbarwindows,
html.no-js .system-tray #local-time {
  display: none !important;
}

html.no-js #taskbar {
  position: static; /* si ton taskbar est fixed en mode normal */
}

html.no-js #taskbar .system-tray ul li:first-child {
    display: none !important; 
}