.nojs-banner {
    text-align: center;
    color: #ffffff;
    background-color: #ff0f0f;
}

body {
    display: block;
}

main#desktop {
    overflow: auto;
}

.nojs-banner p {
    margin: 0;
}

#window-frame {
    position: static;
}

.window {
    position: static;
    display: block;
    width: min(960px, 100%);
    margin: 20px auto;
}

#boot-screen {
    display: none;
}

#home-content[hidden] {
    display: block;
}

#win-start-menu {
    display: none;
}

main#desktop nav.desktop-icons {
    position: static;
}

main#desktop nav.desktop-icons ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    max-width: 100%;
    margin: 10px auto;   
}

.titlebar .controls,
#taskbar .start-menu,
#taskbar .handler,
#taskbar .help-area,
#win-taskbarwindows,
.system-tray #local-time {
    display: none;
}

#taskbar {
    position: static;
}

#taskbar .system-tray ul li:first-child {
    display: none; 
}

.window-nojs-alert .window-content div.nojs-banner a img {
    width: 32px;
    margin: 10px;
}

@media (max-width: 539px) {
    main#desktop nav.desktop-icons {
        display: none;
    }

    main#desktop #window-frame div.window:not(.window-mobile) {
        display: none;
    }
}

@media (min-width: 540px) and (max-width: 991px) {
    main#desktop #window-frame div.window.window-mobile {
        display: none;
    }

    main#desktop #window-frame div.window.window-language-switcher {
        display: none;
    }

    main#desktop #window-frame div.window.window-contact {
        display: none;
    }

    main#desktop #window-frame div.window.window-help-menu {
        display: none;
    }

    main#desktop nav.desktop-icons .desktop-icon[data-open="win-contact"] {
        display: none;
    }

    main#desktop nav.desktop-icons .desktop-icon[data-open="win-language-switcher"] {
        display: none;
    }
}

@media (min-width: 992px) {
    main#desktop #window-frame div.window.window-tablet-alert {
        display: none;
    }

    main#desktop #window-frame div.window.window-mobile {
        display: none;
    }

    main#desktop #window-frame div.window.window-language-switcher {
        display: none;
    }

    main#desktop #window-frame div.window.window-contact {
        display: none;
    }

    main#desktop #window-frame div.window.window-help-menu {
        display: none;
    }

    #desktop nav.desktop-icons .desktop-icon[data-open="win-contact"] {
        display: none;
    }

    #desktop nav.desktop-icons .desktop-icon[data-open="win-language-switcher"] {
        display: none;
    }
}